{% extends 'students/base.html' %}

{% block content %}
<!-- <div class="max-w-xl mx-auto bg-white p-8 border border-gray-300 rounded-lg mt-10">
    <form action="{% url 'edit_student' student.id %}" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-6">
            {{ form.as_p }}
        </div>
        <div class="flex justify-end mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Update Student
            </button>
        </div>
    </form>      
</div> -->




<div class="max-w-xl mx-auto bg-white p-8 border border-gray-300 rounded-lg mt-10">
    <form action="{% url 'edit_student' student.id %}" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-6">
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" value="{{ form.first_name.value|default_if_none:'' }}" class="block w-full mt-1 px-3 py-2 border rounded" required>
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" value="{{ form.last_name.value|default_if_none:'' }}" class="block w-full mt-1 px-3 py-2 border rounded" required>
            </div>
            <div>
                <label>Course:</label>
                <select name="course" id="course" class="block w-full mt-1 px-3 py-2 border rounded">
                    {% for choice in form.course.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.course.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <fieldset>
                    <legend>Gender:</legend>
                    {% for radio in form.gender %}
                        <label>
                            {{ radio.tag }} {{ radio.choice_label }}
                        </label>
                    {% endfor %}
                </fieldset>
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" value="{{ form.age.value|default_if_none:'' }}" class="block w-full mt-1 px-3 py-2 border rounded" required>
            </div>
            <div class="flex justify-end mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Update Student
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}
